<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tugas Data Binding</title>
</head>

<body>
  <div id="app">
    <form>
      <input type="text" placeholder="ketikkan kata kunci" v-model="cari">
      <ul v-for=" bs in filterbooks ">
        <li>
          {{ bs.book }}
        </li>
      </ul>
    </form>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
    var vm = new Vue({
      el: '#app',
      data: {
        cari: '',
        books: [
          { book: "Kalkulator Dasar" },
          { book: "Fisika Dasar" },
          { book: "Aljabar Linier Elementer" },
          { book: "Aljabar Abstrak" },
          { book: "Algoritma Pemograman" }
        ]
      },
      computed: {
        filterbooks: function () {
          return this.books.filter((bs) => {
            return bs.book.match(this.cari)
          });
        }
      }
    });


  </script>
</body>

</html>