<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
  <div id="app">
    <input type="text" v-model:value="newName" />
    <button @click="addName">add</button>
    <ul>
      <li v-for="item in users">
        <s v-if="item.done">{{ item.name }}</s>
        <b v-else>{{ item.name }} <button @click="editName">Edit</button> || <button
            @click="deleteName">Delete</button></b>
      </li>
    </ul>
  </div>


  <script>
    var vm = new Vue({
      el: '#app',
      data: {
        newName: "",
        users: [
          { 'done': false, name: "Muhammad Iqbal Mubarok" },

          { 'done': false, name: "Ruby Purwanti" },

          { 'done': false, name: "Faqih Muhammad" },
        ]
      },

      methods: {
        addName: function () {
          this.users.push({ 'done': false, 'name': this.newName });
          this.newName = "";
        },
        editName: function () {
          this.users.put({ 'done': false, 'name': this.newName });
          this.newName = "";
        },
        deleteName: function () {

          newName = prompt("Anda yakin?");
        }

      }
    })
  </script>
</body>

</html>